<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center formh">
            <h4>Changement du mot de passe : </h4>
            <ng-form name="newPwdForm">
                <input class="center-block form-control input-lg text-center" type="password" ng-required="true" ng-model="password1" name="p1" ng-pattern="/^(?=.*\d)(?=.*[A-Z])(?=.*[a-z]).{6,}$/" placeholder="Nouveau mot de passe">
                <p ng-show="newPwdForm.p1.$invalid && !newPwdForm.p1.$pristine" class="alert alert-danger">Le mot de passe doit contenir au moins 6 charactères, 1 minuscule, 1 majuscule, 1 chiffre</p>
                <input class="center-block form-control input-lg text-center" type="password" ng-required="true" ng-model="password2" name="p2" ng-pattern="password1" placeholder="Nouveau mot de passe">
                <p ng-show="newPwdForm.p2.$invalid && !newPwdForm.p2.$pristine" class="alert alert-danger">Les mots de passe doivent correspondre</p>
                <button class="btn btn-lg text-center" type="submit" ng-click="pwdMail()" ng-disabled="newPwdForm.$invalid">Changer !</button>
            </ng-form>
        </div>
    </div>
</div>