<div class="container mb5">
    <div class="row">
        <h3 class="text-center mb5">Demandes en cours :</h3>
        <div class="col-sm-4 text-center" ng-repeat="u in users">
            <div class="user-block">
                <a href="/#/profil/{{u.user}}">
                    <img data-ng-src="{{u.img}}" class="img-responsive center-block img-s">
                    <h4 style="color: #fff;">{{u.user}}</h4>
                </a>
                <button class="btn btn-default" ng-click="accept(u)">Accepter la demande</button>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="text-center mb5">Personnes qui ont consulté mon profil :</h3>
        <div class="col-sm-4 text-center" ng-repeat="u in history">
            <div class="user-block">
                <a href="/#/profil/{{u.user}}">
                    <img data-ng-src="{{u.img}}" class="img-responsive center-block img-s">
                    <h4 style="color: #fff;">{{u.user}}</h4>
                </a>
            </div>
        </div>
    </div>
    <ng-form name="reportF" >
        <div class="row">
            <h3 class="text-center">Bloquer un utilisateur :</h3>
            <div class="col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
                <input type="text" class="form-control input-group" ng-model="userReport" ng-required="true">
            </div>
            <div class="col-sm-3 col-xs-3">
                <button ng-click="report = ! report" class="btn btn-default center-block" ng-disabled="reportF.$invalid">Bloquer</button>
            </div>
            <div class="alert alert-success alert-dismissable fade in col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3" ng-show="report == true">
                <a ng-click="report = ! report" class="close">&times;</a>
                <strong>L'utilisater à été reporté !</strong>
            </div>
        </div>

    </ng-form>
</div>